.window-pane {
	height: 60%;
	background-color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 3%;
	color: black;
	font-family: "Inconsolata", monospace;
	font-size: 1.5rem;
	position: relative;
}

.code-run-div {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
}